body, html {
    min-height: 100%;
}

.time-counter {
    position: relative;
    float: left;
    width: 45%;
    margin-left: 2%;
    padding: 0;
}

.time-counter:after {
    content: "    seconds";
}

.mine-counter {
    float: right;
    width: 45%;
    margin-right: 2%;
    padding: 0;
    text-align: right;
}

.mine-counter:after {
    content: "  mines";
}

.marker-activated {
    width: 33%;
    float: left;
    position: relative;
    margin: 0 auto;
}

.marker-deactivated {
    width: 33%;
    float: left;
    position: relative;
    margin: 0 auto;
}

.game-container {
    width: 98%;
    min-height: 100%;
    padding: 1%;
    margin: 2%;
    box-sizing: border-box;
    clear: both;
}

.game-row {
    position: relative;
    min-height: 10%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto hidden;
}

.base {
    float: left;
    width: 10%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100%;
    border: 1px solid black;
}

.marked-mine {
    background-image: url();
}

.mine {
    /*background-image: url();*/
    background-color: blue;
}

.blank {
	background-color: red;
}

.no-mine {
	background-color: grey;
}

.one-mine {
	background-image: url("data:image/svg+xml;utf8,\
						  <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='50px'>\
						  <text x='15' y='10' fill='blue' font-size='20' text-anchor='middle' alignment-baseline='central'>1</text></svg>");
}

.two-mine {
	background-image: url("data:image/svg+xml;utf8,\
						  <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'>\
						  <text x='15' y='10' fill='green' font-size='20' text-anchor='middle' alignment-baseline='central'>\
                            2\
                          </text></svg>");
}

.three-mine {
background-image: url("data:image/svg+xml;utf8,\
						  <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'>\
						  <text x='15' y='10' fill='yellow' font-size='20' text-anchor='middle' alignment-baseline='central'>\
                            3\
                          </text></svg>");}

.four-mine {
background-image: url("data:image/svg+xml;utf8,\
						  <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'>\
						  <text x='15' y='10' fill='orange' font-size='20' text-anchor='middle' alignment-baseline='central'>\
                            4\
                          </text></svg>");
}

.five-mine {
background-image: url("data:image/svg+xml;utf8,\
						  <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'>\
						  <text x='15' y='10' fill='red' font-size='20' text-anchor='middle' alignment-baseline='central'>\
                            5\
                          </text></svg>");
}

.six-mine {
background-image: url("data:image/svg+xml;utf8,\
						  <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'>\
						  <text x='15' y='10' fill='red' font-size='20' text-anchor='middle' alignment-baseline='central'>\
                            6\
                          </text></svg>");
}

.seven-mine {
background-image: url("data:image/svg+xml;utf8,\
						  <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'>\
						  <text x='15' y='10' fill='red' font-size='20' text-anchor='middle' alignment-baseline='central'>\
                            7\
                          </text></svg>");
}

.eight-mine {
background-image: url("data:image/svg+xml;utf8,\
						  <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'>\
						  <text x='15' y='10' fill='red' font-size='20' text-anchor='middle' alignment-baseline='central'>\
                            8\
                          </text></svg>");
}
